@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Noto Sans KR', sans-serif;
  --color-brand-primary: #E86A33;
  --color-brand-secondary: #483729;
}

@layer base {
  body {
    @apply font-sans text-gray-800 bg-white;
  }
}

.custom-gradient {
  background: linear-gradient(135deg, #E86A33 0%, #483729 100%);
}

.card-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
